<html>
<head>
    <meta http-equiv='content-type' content='text/html; charset=UTF-8'>
    <style type="text/css">
        .word-count { vertical-align: super; font-size: 50%; }
        .twisty { color: blue; font-family: monospace; }
        a.twisty { text-decoration: none; }
      </style>
      <title>{title}</title>
    """
    
    """
        print "<title>%s</title>" % (title,)
        print """
    <script>
    
    var TWISTY_EXPANDED = ' &#9662; ';
    var TWISTY_COLLAPSED = ' &#9656; ';
    
    function allWordNodes() {
      var nodes = document.getElementsByTagName("tr");
      var results = new Array();
      var numResults = 0;
    
      for (i = 0; i < nodes.length; i++) {
        var node = nodes.item(i);
        if (node.className == 'words') {
          results[numResults] = node;
          numResults++;
        }
      }
      return results;
    }
    
    function hideAll() {
      allNodes = allWordNodes();
      for (var i = 0; i < allNodes.length; i++) {
        hide(allNodes[i]);
      }
    }
    
    function showAll() {
      allNodes = allWordNodes();
      for (var i = 0; i < allNodes.length; i++) {
        show(allNodes[i]);
      }
    }
    
    function get_twisty_node(category) {
      var cell = document.getElementById(category + "-cat");
      return cell.childNodes[0];
    }
    
    function hide(element) {
      element.style.display = "none";
      var twisty = get_twisty_node(element.id);
      twisty.innerHTML = TWISTY_COLLAPSED;
    }
    
    function show(element) {
      element.style.display = "";
      var twisty = get_twisty_node(element.id);
      twisty.innerHTML = TWISTY_EXPANDED;
    }
    
    function toggle(cat) {
      var node = document.getElementById(cat)
      if (node.style.display == "none") {
        show(node);
      } else {
        hide(node);
      }
    }
    
    </script>
</head><body>
<h1>{title}</h1>
<p>
    <a href='javascript:hideAll()'>- collapse all</a> 
     <a href='javascript:showAll()'>+ expand all</a></p>"
     <table width='100%'>
        